<a href="https://colab.research.google.com/github/Sagarjain93/car_prices/blob/main/car_prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Project Title : Exploratory Data Analysis on Sales of Car Dataset**

##**1.Introduction**

This Exploratory Data Analysis (EDA) provides a clear overview of the car sales dataset, which includes important details such as car brand, model, manufacturing year, price, fuel type, transmission, and mileage. The primary goal is to uncover actionable insights that help us understand customer preferences, market trends, and factors driving sales performance.

Through careful data cleaning and visualization, we highlight key patterns and relationships that influence buying decisions and pricing. These insights will support strategic business decisions, improve sales forecasting, and identify opportunities for growth in a competitive automotive market. Ultimately, this analysis forms a data-driven foundation for optimizing marketing strategies and enhancing overall business performance.

we hypothesize that

  1.Higher car mileage (odometer) leads to lower selling prices.
  Rationale: Cars with more wear and tear are typically valued less.

  2.Cars in better condition sell for higher prices.
  Rationale: Buyers are willing to pay more for well-maintained vehicles.

  3.Certain brands (e.g., Toyota, Honda) retain value better than others.
  Rationale: Some brands are known for reliability and resale value.

  4.Automatic transmission cars sell for higher prices than manual ones.
  Rationale: Automatic vehicles are more popular and convenient for most buyers.

  5.Newer model years are associated with higher selling prices.
  Rationale: Newer vehicles have updated features and less wear.

  6.MMR (market value estimate) is positively correlated with actual selling price.
  Rationale: MMR is a pricing benchmark and should closely match real transactions.

  7.SUVs and trucks have higher average selling prices than sedans and hatchbacks.
  Rationale: Larger vehicles are generally more expensive.

  8.Sales volume or price varies by state due to demand or regional preferences.
  Rationale: Certain states may have more active used car markets or different price trends.

  9.Cars sold in winter months have lower prices compared to summer months.
  Rationale: Consumer demand may fluctuate seasonally.

  10.Dealer (seller) has an impact on selling price even for similar models.
  Rationale: Some dealers may offer better deals or add premiums.

##**2.Dataset Description**

The car sales dataset contains detailed information on vehicle listings and sales transactions. The key attributes included are:

* **Year:** The model year of the vehicle.

* **Make:** The manufacturer or brand of the car (e.g., Toyota, Ford).

* **Model:** The specific model name of the vehicle.

* **Trim:** The variant or version of the model, indicating different features or packages.

* **Body:** The body style of the vehicle (e.g., sedan, SUV, coupe).

* **Transmission:** The type of transmission system (e.g., automatic, manual).

* **VIN:** The unique Vehicle Identification Number, used to track individual cars.

* **State**: The U.S. state where the vehicle was sold or listed.

* **Condition**: The overall condition rating of the vehicle (e.g., excellent, good, fair).

* **Odometer:** The mileage on the vehicle at the time of sale, measured in miles.

* **Color**: The exterior color of the vehicle.

* **Interior**: The interior color or material of the vehicle.

* Seller: The entity or dealership selling the car.

* **MMR (Manheim Market Report)**: The wholesale market value estimate for the vehicle.

* **Selling Price:** The final sale price of the vehicle.

* **Sale Date:** The date when the sale transaction occurred.

This dataset provides a comprehensive view of car sales transactions, enabling analysis of price trends, vehicle popularity, market conditions, and sales performance across different regions and time periods.

#**3. Import Required Libraries**
We import Python libraries necessary for data manipulation and visualization

In [1]:
# Data Manipulation Libraries
import numpy as np
import pandas as pd

# Data Visualization Libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Set a consistent theme for all plots
sns.set(style = 'whitegrid')

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#**4. Load The Dataset**
To begin the analysis, the car sales dataset is loaded directly from Google Drive. This approach ensures convenient access to the data stored in the cloud, especially when working in collaborative or cloud-based environments like Google Colab. By mounting Google Drive or using a shareable link, we can seamlessly import the dataset into our workspace for further processing and analysis.

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dataset/6_Sales/car/car_prices.csv')

#**5. Initial Data Inspection**
In this step, we perform an initial examination of the dataset to understand its structure and quality. This includes previewing sample records, checking the datasetâ€™s size, identifying data types, and detecting missing or duplicate values. These insights help inform subsequent data cleaning and analysis steps.

#**5.1. Preview First Few Records**
Display the first 5 rows to get an initial idea of the dataset.

In [4]:
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

#**5.2. Check The Dataset Shape**
Check the number of rows and columns in the datase

In [5]:
df.shape

(558837, 16)

#**5.3 Dataset Summary Overview**
Check for missing values and data types of each column.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

**Interpretation** The car sales dataset includes 558,837 records with 16 columns detailing vehicle specs like year, make, model, body type, transmission, mileage, condition, and selling price. Most key fields are complete, though transmission, body, and trim have moderate missing values. The saledate column needs conversion to datetime for temporal analysis. Overall, the dataset is well-structured for exploring pricing trends, brand performance, and sales patterns across U.S. states.

#**5.4. Statistical Summary of Numeric Columns**
Generate descriptive statistics such as mean, standard deviation, min, max, and quartiles for numerical columns.

In [7]:
df.select_dtypes(include='number').describe()

,year,condition,odometer,mmr,sellingprice
count,558837.000000,547017.000000,558743.000000,558799.000000,558825.000000
mean,2010.038927,30.672365,68320.017767,13769.377495,13611.358810
std,3.966864,13.402832,53398.542821,9679.967174,9749.501628
min,1982.000000,1.000000,1.000000,25.000000,1.000000
25%,2007.000000,23.000000,28371.000000,7100.000000,6900.000000
50%,2012.000000,35.000000,52254.000000,12250.000000,12100.000000
75%,2013.000000,42.000000,99109.000000,18300.000000,18200.000000
max,2015.000000,49.000000,999999.000000,182000.000000,230000.000000

#**5.5 Statistical Summary of Object Columns**
A statistical summary includes the count, number of unique values, most frequent value (top), and frequency of the top value for each categorical column.

In [8]:
df.select_dtypes(include='object')

,make,model,trim,body,transmission,vin,state,color,interior,seller,saledate
0,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,white,black,kia motors america inc,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,white,beige,kia motors america inc,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,gray,black,financial services remarketing (lease),Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,white,black,volvo na rep/world omni,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,gray,black,financial services remarketing (lease),Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...
558832,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,silver,black,avis corporation,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,white,black,i -5 uhlmann rv,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,black,black,financial services remarketing (lease),Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,white,black,enterprise vehicle exchange / tra / rental / t...,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,gray,gray,ford motor credit company llc pd,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

#**6. Data Cleaning/Preprocessing**
In this section, we assess the integrity and quality of the car sales dataset by examining the completeness, consistency, and data types of each column. We identify missing values, check for correct data types, and verify that the data aligns with expected formats and ranges. This validation ensures that subsequent analyses are based on reliable and accurate data.

## **6.1 Fix Data types**

In this section, we assess we will change the data type of saledate from object to datetime format.

In [15]:
#  = pd.Series()
df['saledate']= pd.to_datetime(df['saledate'], errors = 'coerce', utc= True)
df['saledate'] = pd.to_datetime(df['saledate'].dt.date)
df['saledate']

<ipython-input-15-b48bbbfcdabd>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['saledate']= pd.to_datetime(df['saledate'], errors = 'coerce', utc= True)

0        2014-12-16
1        2014-12-16
2        2015-01-14
3        2015-01-28
4        2014-12-18
            ...
558832   2015-07-09
558833   2015-07-08
558834   2015-07-08
558835   2015-07-08
558836   2015-05-27
Name: saledate, Length: 558837, dtype: datetime64[ns]

## **6.2 Handling Missing Values**

We start by identifying and handling any missing values. This ensures the analysis isn't skewed by incomplete data.

In [16]:
# Check for missing values
df.isnull().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65352
vin                 4
state               0
condition       11820
odometer           94
color             749
interior          749
seller              0
mmr                38
sellingprice       12
saledate           38
dtype: int64

The dataset has minimal missing values overall, with transmission, trim, and body showing the highest null counts. Key variables like sellingprice, odometer, and saledate are nearly complete and suitable for analysis after basic cleaning.

##**6.3. Dropping All Null rows**

In [17]:
df.dropna()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,2014-12-16
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,2014-12-16
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,2015-01-14
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,2015-01-28
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,2014-12-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558831,2011,BMW,5 Series,528i,Sedan,automatic,wbafr1c53bc744672,fl,39.0,66403.0,white,brown,lauderdale imports ltd bmw pembrok pines,20300.0,22800.0,2015-07-06
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,2015-07-08
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,2015-07-08
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,2015-07-08
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,2015-05-27

## **6.4. Handle Duplicate Records**

Duplicate records can bias the analysis. We check for and remove any duplicates if found.

In [21]:
# Check for duplicate records
df.duplicated().sum()

np.int64(0)

**Interpretation:** There are no duplicate records in the dataset. This means that we don't need to remove any records before analyzing the dataset.

## **6.5. Standardize Column Names**

To make column names easier to work with, we convert them to lowercase and replace spaces with underscores.

In [11]:
# Check column names to see if they are consistent
df.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

##**6.6. Identify Numerical and Categorical Columns**
We categorize columns into numerical and categorical groups to streamline further analysis. This enables targeted handling during cleaning, visualization, and modeling.

In [22]:
# Identify categorical and numerical columns for targeted processing
categorical_cols = df.select_dtypes(include='object').columns.tolist()
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

In [23]:
# Display categorical columns
list(categorical_cols)

['make',
 'model',
 'trim',
 'body',
 'transmission',
 'vin',
 'state',
 'color',
 'interior',
 'seller']

In [25]:
# Display numerical columns
list(numerical_cols)

['year', 'condition', 'odometer', 'mmr', 'sellingprice']

In [27]:
df['saledate'].dtype

dtype('<M8[ns]')

##**6.7. Standardize Categorical Features and Explore Unique Values**

###**6.7. A. Explore Unique Values in Categorical Features**

In [28]:
# Display unique values for each categorical feature

for col in categorical_cols:
  print(f"Unique values in {col}:")
  print(df[col].unique())
  print("\n")

Unique values in make:
['Kia' 'BMW' 'Volvo' 'Nissan' 'Chevrolet' 'Audi' 'Ford' 'Hyundai' 'Buick'
 'Cadillac' 'Acura' 'Lexus' 'Infiniti' 'Jeep' 'Mercedes-Benz' 'Mitsubishi'
 'Mazda' 'MINI' 'Land Rover' 'Lincoln' 'lincoln' 'Jaguar' 'Volkswagen'
 'Toyota' 'Subaru' 'Scion' 'Porsche' nan 'bmw' 'Dodge' 'FIAT' 'Chrysler'
 'ford' 'Ferrari' 'Honda' 'GMC' 'mitsubishi' 'Ram' 'smart' 'chevrolet'
 'Bentley' 'chrysler' 'pontiac' 'Pontiac' 'Saturn' 'Maserati' 'Mercury'
 'HUMMER' 'landrover' 'cadillac' 'land rover' 'mercedes' 'mazda' 'toyota'
 'lexus' 'gmc truck' 'honda' 'nissan' 'porsche' 'Saab' 'Suzuki' 'dodge'
 'subaru' 'Oldsmobile' 'oldsmobile' 'hyundai' 'jeep' 'Isuzu' 'dodge tk'
 'Geo' 'acura' 'volkswagen' 'suzuki' 'kia' 'audi' 'Rolls-Royce' 'gmc'
 'maserati' 'mazda tk' 'mercury' 'buick' 'hyundai tk' 'mercedes-b' 'vw'
 'Daewoo' 'chev truck' 'ford tk' 'plymouth' 'Plymouth' 'ford truck'
 'Tesla' 'airstream' 'dot' 'Aston Martin' 'Fisker' 'Lamborghini' 'Lotus']


Unique values in model:
['Sorento' '3 Series' 'S60' '6 Series Gran Coupe' 'Altima' 'M5' 'Cruze'
 'A4' 'Camaro' 'A6' 'Optima' 'Fusion' 'Sonata' 'Q5' '6 Series' 'Impala'
 '5 Series' 'A3' 'XC70' 'X5' 'SQ5' 'S5' 'Verano' 'Suburban' 'ELR' 'V60'
 'X6' 'ILX' 'K900' 'Malibu' 'RX 350' 'Versa' 'Elantra' 'Versa Note' 'A8'
 'X1' nan 'Enclave' 'TTS' '4 Series' 'Silverado 2500HD' 'MDX'
 'Silverado 1500' 'SRX' 'G Coupe' 'G Sedan' 'FX' 'Santa Fe' 'Genesis'
 'Equus' 'Sonata Hybrid' 'Accent' 'Veloster' 'Elantra Coupe' 'Azera'
 'Tucson' 'Genesis Coupe' 'Wrangler' 'S-Class' 'GS 350' 'Outlander'
 'C-Class' 'Mazda2' 'Rio' 'M' '370Z' 'Soul' 'Outlander Sport' 'SLK-Class'
 'ES 350' 'E-Class' 'Mazda3' 'Cooper Clubman' 'Cooper' 'CX-9' 'Forte'
 'Compass' 'JX' 'RX 450h' 'LR4' 'Mazda5' 'Range Rover Evoque' 'LS 460'
 'GLK-Class' 'Sportage' 'Grand Cherokee' 'MKX' 'mkt' 'XF' 'GL-Class'
 'M-Class' 'Cooper Countryman' 'Lancer' 'Range Rover Sport' 'Passat'
 'Corolla' 'XC60' 'Sienna' 'Juke' 'Yaris' 'Sentra' 'Rogue' 'NV' 'CC'
 'Leaf' 'Camry' 'Tacoma' 'Jetta' 'Impreza WRX' 'FJ Cruiser' 'Beetle'
 'Avalon' 'FR-S' 'NV200' 'RAV4' 'Quest' 'Tundra' 'tC' 'Maxima' 'Cayenne'
 '911' 'Xterra' 'Prius' 'S80' 'Frontier' 'Boxster' 'Camry Hybrid' 'xB'
 'Cube' 'Jetta SportWagen' '4Runner' 'Sequoia' 'Legacy' 'Armada' 'Venza'
 'Murano' 'Pathfinder' 'Panamera' 'Forester' 'Highlander' 'Impreza' '750i'
 'TSX' '7 Series' '1 Series' 'TL' '750li' 'S4' 'A7' 'A5' 'RDX' 'M3'
 'Cooper Coupe' 'ZDX' 'R8' 'X3' 'Avenger' 'E-Series Wagon' 'Escape' 'Edge'
 'Focus' 'Flex' 'Z4' 'Traverse' 'F-350 Super Duty' 'Fiesta' '500' '200'
 'Journey' 'Charger' 'e350' 'Equinox' '300' 'F-150' 'Explorer'
 'Captiva Sport' 'Escalade' 'Grand Caravan' 'CTS Coupe' 'Town and Country'
 'E-Series Van' 'Volt' 'Express Cargo' 'e150' 'X5 M' 'Expedition'
 'Colorado' 'Express' 'California' 'Escalade ESV' 'Sonic' 'Accord' 'CR-V'
 'Mustang' 'Civic' 'Fit' 'Pilot' 'Odyssey' 'Crosstour' 'Transit Connect'
 'Terrain' 'Taurus' 'G Convertible' 'Yukon' 'Veracruz' 'XJ' 'Liberty'
 'IS 250' 'XK' 'QX' 'CT 200h' 'Mazda6' 'MKZ' 'Navigator' 'Range Rover'
 'SL-Class' 'Sedona' 'IS 350' 'Patriot' 'galant' '1500' 'GT-R' '2500'
 'Galant' 'fortwo' 'GLI' '5 Series Gran Turismo' 'XC90' 'Tiguan' 'GTI'
 'Q7' 'Highlander Hybrid' 'Prius Plug-in' 'CR-Z' 'EX' 'Sierra 1500'
 'LaCrosse' 'HHR' 'Accord Crosstour' 'CTS' 'Nitro' 'Tahoe' 'Challenger'
 'CTS-V' 'Escape Hybrid' 'X6 M' 'Ranger' 'Insight' 'Fusion Hybrid'
 'CTS-V Coupe' 'F-250 Super Duty' 'Acadia' 'Impala Limited' 'Dart' 'Spark'
 'M37' 'Sprinter' 'Town Car' 'CLS-Class' 'CX-7' 'MKT' 'QX56' 'Aveo'
 'Outback' 'Caliber' 'Routan' 'g1500' 'Sebring' 'Corvette'
 'Continental GT Speed' 'malibu' 'Land Cruiser' 'town' 'V50' 'Commander'
 'Altima Hybrid' 'G37 Convertible' 'g6' 'New Beetle' 'Golf' 'LR2'
 'Lancer Sportback' 'G5' 'Yukon XL' 'Escalade Hybrid' 'Avalanche' 'Titan'
 'Spectra' 'Rondo' 'Borrego' 'G-Class' 'MKS' 'CLK-Class' 'Tahoe Hybrid'
 'Econoline Cargo' 'Econoline Wagon' 'PT Cruiser' 'STS' 'Ridgeline'
 'F-450 Super Duty' 'Magnum' 'Durango' 'S40' 'Malibu Classic' 'TT'
 'Taurus X' 'Explorer Sport Trac' 'Ram Pickup 1500' 'impala' 'Cobalt'
 'Pacifica' 'S6' 'Rabbit' 'C70' 'Sierra 2500HD' 'C30' 'VUE' 'GranTurismo'
 'G6' 'Grand Prix' '350Z' 'Raider' 'Mazdaspeed Mazda3' 'Solstice' 'Milan'
 'GX 470' 'Aura' 'RX 400h' 'Matrix' 'H3' 'CL-Class' 'Outlook' '7' 'G37'
 'IS F' 'Touareg 2' 'Lancer Evolution' 'G35' 'xD' 'XJ-Series' 'G8' 'hhr'
 'H2' 'DTS' 'lr3' 'sts' 'Silverado 1500 Classic' 'M45' 'Uplander'
 'GS 450h' 'corvette' 'rangerover' 'Rendezvous' 'Monte Carlo' 'FX35'
 'range' 'ION' 'R-Class' 'lancer' 'Eclipse' 'c230wz' 'cx-7' 'B9 Tribeca'
 'matrix' 'tundra' 'RSX' 'mazda5' 'Mariner' 'gx' 'Five Hundred' 'Envoy XL'
 'S-Type' 'Element' 'Continental Flying Spur' 'S2000' 'FX45' 'sr' 'pilot'
 'GS 430' 'Cayman S' 'Mark LT' 'ES 330' 'GS 300' '350z' 'Camry Solara'
 'rx8' 'Touareg' 'Relay' 'lx' 'allroad quattro' '9-3' '500L'
 'C-Max Hybrid' 'pacifica' 'Freestyle' 'Ram Pickup 3500' 'Sprinter Cargo'
 'DeVille' 'H2 SUT' 'TrailBlazer' 'Canyon' 'srx' 'Dakota' 'Continental GT'
 'Neon' 'Stratus' 'Q45' 'Freestar' 'Montana' 'Grand Marquis' 'XLR'
 'Aviator' 'g55' 'MPV' 'LS 430' 'Verona' 'Forenza' 'RX 330' '300M'
 'SC 430' 'discovery' 'Excursion' 'Envoy XUV' 'Envoy' 'Concorde'
 'Monterey' 'stratus' 'Mountaineer' 'Amanti' 'Malibu Maxx' 'Celica'
 'Grand Am' 'Endeavor' 'Marauder' 'escape' 'QX4' 'LS' 'Blazer'
 'Ram Pickup 2500' 'LeSabre' 'V40' 'Mazdaspeed Protege' 'Montero' 'ES 300'
 'focus' 'Thunderbird' 'Century' 'Cavalier' 'Venture' 'S-10' 's55'
 'Cougar' 'XL-7' 'Windstar' 'Silverado 1500HD' 'Explorer Sport'
 'Savana Cargo' 'X-Type' 'Sonoma' 'IS 300' 'forester' 'Protege5'
 'sprinter' 'RL' 'Alero' 'Grand Vitara' 'RX 300' 'L-Series' 'V70'
 'Intrigue' 'XC' 'Discovery Series II' 'S-Series' 'alero' 'santa' 'ECHO'
 'MX-5 Miata' 'Continental' 'Seville' 'camry' 'Park Avenue' 'Millenia'
 'I30' 'gr' 'sienna' 'camaro' 'Cherokee' 'Z3' 'civic' 'ram' 'odyssey'
 'taurus' 'expedition' 'Prizm' 'Escort' 's10' 'LHS' 'windstar' 'f250'
 'Regal' 'explorer' 'G20' 'Bonneville' 'Eldorado' 'voyager' 'venture'
 'durango' 'Intrepid' 'Contour' 'S90' 'Sunfire' 'mpv' 'caravan' '200SX'
 'Rodeo' 'wrangler' 'f150' 'Tercel' 'S70' 'Discovery' 'Mustang SVT Cobra'
 '300e' 'pickup' 'ciera' 'Legend' 'LS 400' 'Cutlass Ciera'
 'Santa Fe Sport' 'Cadenza' 'Q50' 'Elantra GT' 'F-TYPE' 'Shelby GT500'
 'QX70' 'QX60' 'Q60 Convertible' 'Cooper Roadster' 'CX-5' 'Cooper Paceman'
 'Rogue Select' 'Cayman' 'CLA-Class' 'allroad' 'ATS' 'Prius v'
 'Continental GTC' 'XV Crosstrek' '3500' 'C-Max Energi' 'Focus ST' 'RS 7'
 'GX 460' 'CTS Wagon' 'SLS AMG' 'Aspen' 'Eclipse Spyder' 'Vibe' 'Eos'
 'Entourage' 'expeditn' 'rl' 'Caravan' 'Quattroporte' 'M35' '9-5' 'SSR'
 'Astro Cargo' 'Safari Cargo' 'passat' 'Tribute' 'Diamante' 'Sable'
 'Silverado 3500' 'Phaeton' 'R32' 'I35' 'g500' 'Bravada'
 'Tahoe Limited/Z71' 'Truck' 'C/K 1500 Series' 'grand' 'SC 300'
 'Roadmaster' 'SC 400' '420sel' 'LX 570' 'QX80' 'RS 5' 'Jetta GLI'
 'ES 300h' 'capt' 'M4' 'SX4' 'iQ' 'Kizashi' 'C/V Cargo Van' 'Prius c'
 '750lxi' 'alp' 'Lucerne' 'Escalade EXT' 'Silverado 3500HD'
 'Crown Victoria' 'Sierra 3500HD' 'M56' 'rio' 'IS 250 C' '3' 'endeavor'
 'corolla' 'jetta' 'ActiveHybrid X6' 'a4' 'dts' 'g3500' 'colorado'
 'sebring' 'e250' 'police' 'Elantra Touring' 'G37 Coupe' 'HS 250h'
 'journey' 'Mazdaspeed3' 'Milan Hybrid' 'Ghost' 'Silverado 1500 Hybrid'
 'crown' 'Yukon Hybrid' 'elantra' 'optima' 'borrego' 'mazda6' '6'
 'Mariner Hybrid' 'montana' 'Torrent' 'VUE Hybrid' 'G3' '9-7X' 'vibe'
 'Expedition EL' 'Tiburon' 'patriot' 'LR3' 'Navigator L' 'Astra' 'Tribeca'
 'XL7' 'sx4' 'Sky' 'Reno' 'M6' 'S8' 'Terraza' 'Silverado 2500HD Classic'
 'uplander' 'ram3500' 'Sierra 1500 Classic' 'Sierra 2500HD Classic'
 'Fusion Energi' 'XK-Series' 'quattroporte' 'B-Series Truck' 'mazda3'
 'b200' 'Mazdaspeed Mazda6' 'Montego' 'g5' 'yaris' 'Rainier'
 'TrailBlazer EXT' 'optra' 'Crossfire' 'magnum' 'savana' 'Sierra 1500HD'
 'ridgelin' 'Savana' 'Zephyr' 'rrs' 'tribute' 'carrera' 'Montana SV6'
 'wave' 'tt' 'Classic' 'pt' 'freestyle' 'Ascender' 'XG350' 'Q60 Coupe'
 'Q70' 'QX50' 'pursuit' 'x-trail' 'GTO' 'xA' 'L300' 'Baja' '9-2X' 'Aerio'
 'el' 'rainier' 'Silverado 2500' 'Astro' 'Tracker' 'intrepid'
 'F-150 Heritage' 'expedit' 'accord' 'Freelander' 'c240w' 'MR2 Spyder'
 'RS 6' '320i' 'Voyager' 'Axiom' 'cl55' 'Montero Sport' 'sl55' 'Protege'
 'Silhouette' 'b1500' 'concorde' '626' 'Blackwood' 'Rodeo Sport' 'LX 470'
 'Villager' 'Firebird' 'Aztek' 'Aurora' 'CL' 'EuroVan' 'Catera' 'Leganza'
 'XG300' 'Prelude' 'Trooper' 'Prowler' 'Cabrio' 'Integra' 'cavalier'
 'astro' 'excurs' 'dakota' 'Cirrus' 'twn&country' 'Jimmy' 'safari'
 'ranger' 'sonoma' 'Sierra 2500' 'yukon' 'Sephia' 'Passport' 'Mirage'
 'breeze' 'silhouette' 'villager' 'beetle' 'suburban' 'Lumina' 'Amigo'
 'mountaineer' 'Esteem' 'pathfinder' 'quest' 'Breeze' 'e300dt' 'intrigue'
 'lumina' 'Cabriolet' 'envoy' 'Cutlass' 'GS 400' 'E-150' 'Regency'
 'thunderbird' 'B-Series Pickup' 'legacy' 'corsica' 'bronco' 'Le Baron'
 'Caprice' 'Pickup' 'century' '500-Class' '300-Class' 'previa'
 'Murano CrossCabriolet' 'NV Cargo' 'Jetta Hybrid' 'S7' 'Encore' 'XTS'
 'Black Diamond Avalanche' 'RLX' '2 Series' 'M6 Gran Coupe' 'regal'
 'versa' 'BRZ' 'C/V Tradesman' 'Model S' 'Beetle Convertible' 'Golf R'
 'routan' 'TSX Sport Wagon' 'interstate' 'a6' 'Corvette Stingray' 'SS'
 'Mazdaspeed 3' 'i-MiEV' 'F430' 'EX35' 'swift' 'GranSport' 'escalade'
 'neon' 'f350' 'Yukon Denali' 'Ghibli' '960' 'Cutlass Supreme' 'cougar'
 'IS 350 C' 'lacrosse' 'tucson' '323i' 'cobalt' 'x3'
 'Mazdaspeed MX-5 Miata' 'Ram Cargo' 'Safari' 'Eighty-Eight' '850' 'J30'
 'Promaster Cargo Van' 'sonic' 'rr' '1' 'Malibu Hybrid' '350' 'twn/cntry'
 'Spirit' 'Accord Hybrid' '3 Series Gran Turismo' 'e' 'cruze' 'c230'
 'crossfire' 'Viper' 'Riviera' 'compass' 'Avalon Hybrid' 'RX-8'
 'V8 Vantage' 'Equator' 'sportage' 'C/K 3500 Series' 'Mark VIII' 'charger'
 'GranTurismo Convertible' 'avenger' 'equinox' 'allure' 'c240s' 'Vitara'
 'avalon' 'eurovan' 'siera' 'pathfind' 'Eighty-Eight Royale' 'cherokee'
 'ActiveHybrid 7' 'aveo' 'GS 460' 'Tribute Hybrid' 'Aura Hybrid' 'tahoe'
 'g2500' '300ZX' 'Golf GTI' 'i-Series' 'golf' 'MKZ Hybrid' 'Macan' 'FX50'
 'comm' 'STS-V' 'Windstar Cargo' 'CTS-V Wagon' 'Karma' '328i' 'Z4 M' '42c'
 'subrbn' 'b2300' 'mountnr' 'Coupe' 'uplandr' 'Ram Van' 'Tempo' 'Tracer'
 'CV Tradesman' 'DB9' 'C/K 2500 Series' 'i8' 'Rapide' 'Nubira' 'Corsica'
 'NV Passenger' 'Spyder' 'LS 600h L' '400-Class' 'H3T' 'LX 450' 'WRX'
 'Silverado 3500 Classic' '500e' 'Continental Supersports' 'Sierra 3500'
 'Mystique' 'F-150 SVT Lightning' '190-Class' 'MKC' 'Aspire' '940'
 'Gallardo' 'Continental Flying Spur Speed' '3000GT' 'TT RS' 'B-Series'
 'ActiveHybrid 5' 'Sierra 1500 Hybrid' 'ML55 AMG' 'S-10 Blazer' 'RS 4'
 'T100' 'Continental GTC Speed' 'mdx' 'Transit Van' 'F-250' 'Sidekick'
 'E-250' '8 Series' '420-Class' 'E-350' 'Achieva' 'B-Class Electric Drive'
 'Fleetwood' 'Paseo' 'Civic del Sol' 'Exige' 'X4' 'Spark EV'
 'Transit Wagon' 'H1' 'SLS AMG GT' 'Flying Spur' 'Metro'
 'Grand Cherokee SRT' 'RC F' 'Q3' '4 Series Gran Coupe' 'RC 350' '360'
 'GLA-Class' 'TLX' '458 Italia']


Unique values in trim:
['LX' '328i SULEV' 'T5' ... 'pure' 'EWB' 'Power Wagon']


Unique values in body:
['SUV' 'Sedan' 'Convertible' 'Coupe' 'Wagon' 'Hatchback' 'Crew Cab'
 'G Coupe' 'G Sedan' 'Elantra Coupe' 'Genesis Coupe' 'Minivan' nan 'Van'
 'Double Cab' 'CrewMax Cab' 'Access Cab' 'King Cab' 'SuperCrew'
 'CTS Coupe' 'Extended Cab' 'E-Series Van' 'SuperCab' 'Regular Cab'
 'G Convertible' 'Koup' 'Quad Cab' 'CTS-V Coupe' 'sedan' 'G37 Convertible'
 'Club Cab' 'Xtracab' 'Q60 Convertible' 'CTS Wagon' 'convertible'
 'G37 Coupe' 'Mega Cab' 'Cab Plus 4' 'Q60 Coupe' 'Cab Plus'
 'Beetle Convertible' 'TSX Sport Wagon' 'Promaster Cargo Van'
 'GranTurismo Convertible' 'CTS-V Wagon' 'Ram Van' 'minivan' 'suv'
 'Transit Van' 'Navitgation' 'van' 'regular-cab' 'g sedan' 'g coupe'
 'hatchback' 'king cab' 'supercrew' 'g convertible' 'coupe' 'crew cab'
 'wagon' 'double cab' 'e-series van' 'regular cab' 'quad cab'
 'g37 convertible' 'supercab' 'extended cab' 'crewmax cab' 'genesis coupe'
 'access cab' 'mega cab' 'xtracab' 'beetle convertible' 'cts coupe' 'koup'
 'club cab' 'elantra coupe' 'q60 coupe' 'cts-v coupe' 'transit van'
 'granturismo convertible' 'tsx sport wagon' 'promaster cargo van'
 'q60 convertible' 'g37 coupe' 'cab plus 4' 'cts wagon']


Unique values in transmission:
['automatic' nan 'manual' 'Sedan' 'sedan']


Unique values in vin:
['5xyktca69fg566472' '5xyktca69fg561319' 'wba3c1c51ek116351' ...
 '5uxzw0c58cl668465' '1n4al3ap0fc216050' '1ftfw1et2eke87277']


Unique values in state:
['ca' 'tx' 'pa' 'mn' 'az' 'wi' 'tn' 'md' 'fl' 'ne' 'nj' 'nv' 'oh' 'mi'
 'ga' 'va' 'sc' 'nc' 'in' 'il' 'co' 'ut' 'mo' 'ny' 'ma' 'pr' 'or' 'la'
 'wa' 'hi' 'qc' 'ab' 'on' 'ok' 'ms' 'nm' 'al' '3vwd17aj4fm201708' 'ns'
 '3vwd17aj2fm258506' '3vwd17aj3fm276741' '3vwd17aj2fm285365'
 '3vwd17aj0fm227318' '3vwd17aj6fm218641' '3vwd17aj7fm223475'
 '3vwd17aj5fm297123' '3vwd17aj5fm219943' '3vwd17aj9fm219766'
 '3vwd17aj3fm259017' '3vwd17aj5fm206111' '3vwd17aj5fm273601'
 '3vwd17aj5fm221322' '3vwd17aj5fm268964' '3vwd17aj6fm231972'
 '3vwd17aj7fm222388' '3vwd17aj7fm218440' '3vwd17ajxfm315938'
 '3vwd17aj7fm229552' '3vwd17aj8fm298895' '3vwd17aj4fm236636'
 '3vwd17aj5fm225953' '3vwd17aj7fm326640' '3vwd17aj8fm239622'
 '3vwd17aj2fm261566']


Unique values in color:
['white' 'gray' 'black' 'red' 'silver' 'blue' 'brown' 'beige' 'purple'
 'burgundy' 'â€”' 'gold' 'yellow' 'green' 'charcoal' nan 'orange'
 'off-white' 'turquoise' 'pink' 'lime' '4802' '9410' '1167' '2172' '14872'
 '12655' '15719' '6388' '16633' '11034' '2711' '6864' '339' '18384' '9887'
 '9837' '20379' '20627' '721' '6158' '2817' '5705' '18561' '2846' '9562'
 '5001']


Unique values in interior:
['black' 'beige' 'tan' 'â€”' 'gray' 'brown' 'burgundy' 'white' nan 'silver'
 'off-white' 'blue' 'red' 'yellow' 'green' 'purple' 'orange' 'gold']


Unique values in seller:
['kia motors america  inc' 'financial services remarketing (lease)'
 'volvo na rep/world omni' ... 'maserati north america inc'
 'alternative financial group inc' 'i -5 uhlmann rv']